@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #31323a;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  background: #292a31;
  padding: 30px;
}

header a {
  margin-right: 30px;
  text-decoration: none;
  color: #d7e3ee;
}