{% extends "layout.njk" %}

{% block content %}
<div class="center">

  <div class="course" id="{{course.id}}">
    <div class="course__head">
      <img src="{{course.image}}" alt="logo course">
    </div>
    <div class="course__main">
      <h1></h1>
      <p>{{course.module}} Modules</p>
      <p>Accession: {{course.acession}}</p>
      <a style="visibility: hidden" >{{course.url}}</a>
    </div>
  </div>

</div>
{% endblock content %}
