{% extends "layout.njk" %}

{% block content %}
<div class="courses">

  {% for course in courses %}
  <div class="course" id="{{course.id}}">
    <div class="course__head">
      <img src="{{course.image}}" alt="logo course">
    </div>
    <div class="course__main">
      <h1></h1>
      <p>{{course.module}} Modules</p>
      <p>Accession: {{course.acession}}</p>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock content %}


{% block modal %}

<div class="modal-overlay">
  <div class="modal">
    <div class="modal__head">
      <span id="maximize-modal">EXIBIR</span>
      <span id="close-modal">FECHAR</span>
    </div>
    <div class="modal__content">
      <iframe src="https://rocketseat.com.br/gostack" frameborder="0"></iframe>
    </div>
  </div>
</div>

{% endblock modal %}
