{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="background:url({{ student.avatar_url }}) no-repeat center / cover"></section>
    <section class="details">
        {# <h3>Detalhes</h3> #}

        <div class="item">
            <div>Nome Completo</div>
            <div>{{ student.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ student.age }}</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>{{ student.escolaridade }}</div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>{{ student.tipo_aula}}</div>
        </div>

        <div class="item">
            <div>Acompanhamentos</div>
            <div>
              {% for acompanhamento in student.acompanhamentos %}
                <span> {{ acompanhamento }}</span>
              {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ student.created_at }}</div>
        </div>

        <a href="/students/{{ student.id }}/edit" class="button">Editar</a>
    </section>
</div>

{% endblock content %}