@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary-color: #6c4fbb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #31323a;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  background: #292a31;
  padding: 30px;
  box-sizing: border-box;
}

header a {
  margin-right: 30px;
  text-decoration: none;
  color: #d7e3ee;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

main .wrapper img {
  margin: 30px auto 5px;
  border-radius: 50%;
  border: 2px solid #d7e3ee;
}

main h1 {
  font-size: 68px;
  color: var(--primary-color);
}

main p {
  font-size: 14px;
  color: #bdc7cf;
  margin-top: 20px;
}

main ul {
  margin: 30px 0;
  list-style: none;
  color: #d7e3ee;
  font-size: 14px;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

footer a {
  margin: 15px;
  text-decoration: none;
  color: #d7e3ee;
}

footer a:hover {
  color: var(--primary-color);
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.courses .course {
  margin-top: 20px;
  background: #292a31;
  max-width: 400px;
  border: 1px solid #23242b;
  border-radius: 6px;
}

.courses .course:hover {
  border: 1px solid #3f3f3f;
  cursor: pointer;
}

.courses .course .course__head {
  background: #23242b;
  border-radius: 6px 6px 0 0;
  padding: 20px 0;
}

.courses .course .course__main {
  padding-bottom: 200px;
}

.center {
  display: flex;
  justify-content: center;
}

.center .course {
  margin-top: 20px;
  width: 400px;
  background: #292a31;
  border: 1px solid #23242b;
  border-radius: 6px;
}

.center .course:hover {
  border: 1px solid #3f3f3f;
  cursor: pointer;
}

.center .course .course__head {
  background: #23242b;
  border-radius: 6px 6px 0 0;
  padding: 20px 0;
}

.center .course .course__main {
  padding-bottom: 200px;
}