<div class="item">
  <div>Avatar</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://"
      value="{{ student.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Nome Completo</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Name"
      value="{{ student.name }}"
    >
  </div>
</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="mail" 
      name="mail"
      value="{{ student.mail }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ student.birth }}"
    >
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="ano_escolar">
      <option value="5ef">5º ano do Ensino Fundamental</option>
      <option value="6ef">6º ano do Ensino Fundamental</option>
      <option value="7ef">7º ano do Ensino Fundamental</option>
      <option value="8ef">8º ano do Ensino Fundamental</option>
      <option value="9ef">9º ano do Ensino Fundamental</option>
      <option value="1em">1º ano do Ensino Médio</option>
      <option value="2em">2º ano do Ensino Médio</option>
      <option value="3em">3º ano do Ensino Médio</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal</div>
  <div>
    <input 
      type="number" 
      name="carga_horaria_semanal"
      value="{{ student.carga_horaria_semanal }}"
    >
  </div>
</div>

<button type="submit">Enviar</button>