<div class="item">
  <div>Avatar</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://"
      value="{{ student.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Nome Completo</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Name"
      value="{{ student.name }}"
    >
  </div>
</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="mail" 
      name="mail"
      value="{{ student.mail }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth_date"
      value="{{ student.birth_date }}"
    >
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="grade">
      <option value="5ef"
        {% if student.grade == "5ef" %}
          selected
        {% endif %}
        >
        5º ano do Ensino Fundamental
      </option>
      <option value="6ef"
        {% if student.grade == "6ef" %}
          selected
        {% endif %}
        >
        6º ano do Ensino Fundamental
      </option>
      <option value="7ef"
        {% if student.grade == "7ef" %}
          selected
        {% endif %}
        >
        7º ano do Ensino Fundamental
      </option>
      <option value="8ef"
        {% if student.grade == "8ef" %}
          selected
        {% endif %}
        >
        8º ano do Ensino Fundamental
      </option>
      <option value="9ef"
        {% if student.grade == "9ef" %}
          selected
        {% endif %}
        >
        9º ano do Ensino Fundamental
      </option>
      <option value="1em"
        {% if student.grade == "1em" %}
          selected
        {% endif %}
        >
        1º ano do Ensino Médio
      </option>
      <option value="2em"
        {% if student.grade == "2em" %}
          selected
        {% endif %}
        >
        2º ano do Ensino Médio
      </option>
      <option value="3em"
        {% if student.grade == "3em" %}
          selected
        {% endif %}
        >
        3º ano do Ensino Médio
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal</div>
  <div>
    <input 
      type="number" 
      name="weekly_workload"
      value="{{ student.weekly_workload }}"
    >
  </div>
</div>

<div class="item">
  <div>Professor</div>
  <div>
    <select name="teacher">
      {% for teacher in teacherOptions %}
      <option value="{{teacher.id}}"
        {% if student.teacher_id == teacher.id %} selected {% endif %}>
        {{teacher.name}}
      </option>
      {% endfor %}
    </select>
  </div>
</div>

<button type="submit">Enviar</button>