{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <div class="header">
        <a class="button" href="/students/create">Create</a>
        <form action="/students" method="GET">
            <input 
                type="text" 
                name="filter" 
                placeholder="Nome ou e-mail"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <table width="100%">
        <thead>
            <th>Name</th>
            <th>E-mail</th>
            <th>Ano Escolar</th>
            <th>Ação</th>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <span style="background-image: url({{ student.avatar_url }})"></span>
                    {{ student.name }}
                </td>
                <td>
                    {{ student.mail }}
                </td>
                <td>
                    {{ student.grade }}
                </td>
                <td><a href="/students/{{ student.id }}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    >
    </div>
</div>

{% endblock content %}