{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/teachers/create">Create</a>
    <table width="100%">
        <thead>
            <th>Name</th>
            <th>Acompanhamentos</th>
            <th>Ação</th>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{ teacher.avatar_url }})"></span>
                    {{ teacher.name }}
                </td>
                <td>
                    <p> {{ teacher.subjects_taught }} </p>
                </td>
                <td><a href="/teachers/{{ teacher.id }}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}