{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="background:url(https://images.unsplash.com/photo-1555116505-38ab61800975?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80) no-repeat center / cover"></section>
    <section class="details">
        <div class="item">
            <div>Avatar</div>
            <div>
              <input 
                type="url" 
                name="avatar_url"
                placeholder="http://"
              >
            </div>
        </div>

        <div class="item">
            <div>Nome Completo</div>
            <div>
              <input 
                type="text" 
                name="name"
                placeholder="Name"
              >
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
              <input type="date" name="birth">
            </div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>
              <select name="escolaridade">
                <option value="1">Ensino Médio Completo</option>
                <option value="2">Ensino Superior Completo</option>
                <option value="3">Mestrado</option>
                <option value="4">Doutorado</option>
              </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span><input type="radio" name="tipo_aula" value="pre">Presencial</span>
                <span><input type="radio" name="tipo_aula" value="dis">À distância</span>
            </div>
        </div>

        <div class="item">
            <div>Acompanhamentos</div>
            <div>
              <input type="text" name="acompanhamentos" placeholder="Informe os valores separados por virgula">
            </div>
        </div>

        <button type="submit">Enviar</button>
    </section>
</form>

{% endblock content %}